/*CMPS3141-HCI - AS2-21S1
Collaborators: None
Date: Sept.9.21
*/

body {
	background-color:	lightblue;
}

label {
	font-size:		50px;
}

table {
	width:			120%;
}

td {
	width:			50%;
}

h1 {
	font-family:	"Billion Dreams";
	text-align:		center;
	font-size:		60px;
}

select {
	padding:			8px 12px;
	color:				black;
	background-color:	white;
	border:				1px solid #dddddd;
	cursor:	pointer;
	border-radius:		5ps;
	font-size:			20px;
}

.float {
	border:			10px solid;
	width:			40%;
	float:			left;
}
.float2 {
	border:			10px solid;
	width:			57%;
	float:			right;
}

	


	
	
/* add your css here */
